.wrapper{
    background-color: #E3E6E6;
    display: flex;
    justify-content: center;
    margin: 100px 0 0;
}
.subwrapper{
    display: flex;
    margin: 20px;
    width: 100%;
    justify-content: center;
}
.cart-parent{
    width: calc(100% - 300px);
    max-width: 1100px;
}
@media(max-width: 959px){
    .cart-parent{
        width: 100%;
    }
}
.cart{
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
}
.cart-notexist h2{
    font-weight: 400;
    font-size: 28px;
    margin: 0 0 5px;
}
.cart-notexist p{
    margin: 0;
    font-size: 14px;
}
.cart-exist h2{
    font-weight: 400;
    font-size: 28px;
    padding: 0 0 15px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0;
}
.cart-list{
    list-style: none;
    padding: 0;
}
.cart-child{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}
.cart-child img{
    height: 180px;
    width: 180px;
    object-fit: contain;
}
@media(min-width: 900px){
    .cart-box{
        display: flex;
        width: calc(100% - 178px);
    }
    .cart-product{
        width: calc(100% - 140px);
    }
}
@media(max-width: 899px){
    .cart-product{
        width: 100%;
    }
    .cart-box{
        width: calc(100% - 180px);
    }
}
.cart-product{
    margin-left: 10px;
    margin-right: 10px;
}
.cart-title{
    font-size: 18px;
    border: none!important;
    margin: 0!important;
    padding: 0!important;
}
.cart-product p{
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 8px;
}
.cart-product__y{
    color: #007600;
}
.cart-product__n{
    color: #b12704;
}
.cart-product__number{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.cart-product__number p{
    margin: 0 5px 0 0;
}
.cart-product__number-input{
    border: 1px solid #DDD;
    border-radius: 4px 4px 4px 4px;
    padding: 3px 5px;
    width: 50px;
}
.cart-product__number a{
    margin: 0;
    font-size: 12px;
    color: #007185;
    cursor: pointer;
    border-right: #d7d7d7 1px solid;
    padding: 0 15px;
}
.cart-price{
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.cart-price h3{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.cart-price p{
    font-size: 12px;
    margin: 0;
    text-align: right;
}
.cart-price p span{
    color: #B12704;
}
@media(max-width: 899px){
    .cart-price p{
        text-align: left;
    }
    .cart-price{
        width: 100%;
    }
}

.later{
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
    margin-top: 50px;
}
.later-notexist h2{
    font-weight: 400;
    font-size: 28px;
    margin: 0 0 5px;
}
.later-notexist p{
    margin: 0;
    font-size: 14px;
}
.later-exist h2{
    font-weight: 400;
    font-size: 28px;
    padding: 0 0 15px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0;
}
.later-list{
    list-style: none;
    padding: 0;
}
.later-child{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}
.later-child img{
    height: 180px;
    width: 180px;
    object-fit: contain;
}
@media(min-width: 900px){
    .later-box{
        display: flex;
    }
    .later-product{
        width: calc(100% - 100px);
    }
}
@media(min-width: 899px){
    .later-product{
        width: 100%;
    }
}
.later-product{
    margin-left: 10px;
    margin-right: 10px;
}
.later-title{
    font-size: 18px;
    border: none!important;
    margin: 0!important;
    padding: 0!important;
}
.later-product p{
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 8px;
}
.later-product__y{
    color: #007600;
}
.later-product__n{
    color: #b12704;
}
.later-product__number{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.later-product__number a{
    margin: 0;
    font-size: 12px;
    color: #007185;
    cursor: pointer;
    padding: 0 15px;
}
.later-price{
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.later-price h3{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.later-price p{
    font-size: 12px;
    margin: 0;
    text-align: right;
}
.later-price p span{
    color: #B12704;
}
.buy{
    width: 300px;
    background-color: #ffffff;
    margin-left: 20px;
    padding: 20px;
    height: 180px;
    position: sticky;
    top: 120px;
}
.buy-delivery i{
    background-image: url("../star.png");
    -webkit-background-size: 512px 512px;
    background-size: 512px 512px;
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    background-position: -84px -138px;
}
.buy-delivery{
    display: flex;
    align-items: center;
}
.buy-delivery p{
    color: #067D62;
    font-size: 12px;
    margin: 0 0 0 10px;
}
.buy h2{
    font-weight: 400;
    font-size: 18px;
}
.buy h2 span{
    font-weight: 700;
}
.buy-continue{
    width: 100%;
    outline: none;
    border: none;
    background-color: #14adff;
    box-shadow: 0 2px 5px 0 #D5D9D97F;
    display: block;
    height: 32px;
    border-radius: 100px;
    cursor: pointer;
}
.buy-continue:hover{
    background-color: #1396e0;
}

@media(max-width: 959px){
    .subwrapper {
        display: block;
    }
    .cart{
        width: 100%;
    }
    .buy{
        margin-left: 0;
        width: 100%;
        position: static;
        padding-top: 0;
        height: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .buy-continue{
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }
}
html, body{
    background-color: #E3E6E6;
}
html{
    height: 100%;
}