.wrapper {
    background-color: #E3E6E6;
    display: flex;
    justify-content: center;
}

.subwrapper {
    display: flex;
    margin: 20px;
    width: 100%;
    justify-content: center;
}

.history {
    background-color: #ffffff;
    max-width: 1300px;
    width: 100%;
    padding: 20px;
}

.history-title h2 {
    font-weight: 400;
    font-size: 28px;
    padding: 0 0 15px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0;
}

.history-title ul {
    display: flex;
    margin: 10px 0 !important;
    padding: 0 !important;
}

.history-title ul li {
    margin: 0 10px;
}

.history-title ul li a {
    color: #007185;
}

.history-title ul li a:hover {
    color: #C7511F;
}

.history-list {
    margin: 20px 0;
}

.history-list__info {
    display: flex;
    background-color: #F0F2F2;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px #D5D9D9 solid;
    border-left: 1px #D5D9D9 solid;
    border-right: 1px #D5D9D9 solid;
}

.history-list__info-child {
    margin-right: 40px;
}

.history-list__info-child span {
    color: #565959;
    font-size: 12px;
}

.history-list__info-child p {
    margin: 0;
    color: #565959;
    font-size: 14px;
}

.history-list__value {
    padding: 10px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px #D5D9D9 solid;
    border-left: 1px #D5D9D9 solid;
    border-right: 1px #D5D9D9 solid;
}

.history-list__value h2 {
    margin: 0 0 20px;
    font-size: 20px;
}

.history-list__value-product {
    display: flex;
}

.history-list__value-product img {
    height: 90px;
    width: 90px;
    object-fit: contain;
}

.history-list__value-product-middle {
    padding: 0 0 0 10px;
}

.history-list__value-product-name {
    color: #000000;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.history-list__value-product-name:hover {
    color: #006cc4;
}

.history-list__value-product-middle span {
    font-size: 12px;
    line-height: 20px;
    display: block;
}

.history-list__value-product-rebuy {
    background-color: #3585ef;
    padding: 3px 14px;
    font-size: 14px;
    margin: 0 10px;
    border-radius: 5px;
    color: #fff;
}

.history-list__value-product-rebuy:hover {
    background-color: #2373da;
}

.history-list__value-product-view {
    background: #FFF;
    box-shadow: 0 2px 5px 0 rgba(213, 217, 217, .5);
    border: #D5D9D9 solid 1px;
    padding: 3px 14px;
    font-size: 14px;
    margin: 0 10px;
    border-radius: 5px;
}

.history-list__value-product-view:hover {
    background: #fafafa;
}

.history-list__value-product-end {
    padding: 0 0 0 10px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.history-list__value-product-return {
    background-color: #14adff;
    padding: 7px 40px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    margin: 2px;
    cursor: pointer;
}

.history-list__value-product-return:hover {
    background-color: #1396e0;
}

.history-list__value-product-review {
    background: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(213, 217, 217, .5);
    border: #D5D9D9 solid 1px;
    padding: 7px 40px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    margin: 2px;
    cursor: pointer;
}

.history-list__value-product-review:hover {
    background: #fafafa;
}

.history ul {
    list-style: none;
    padding: 0;
    margin: 30px 10px;
}

.history-list__value-product-box {
    display: flex;
    width: calc(100% - 260px);
}

@media (max-width: 959px) {
    .subwrapper {
        display: block;
    }

    .history {
        width: 100%;
    }
}

@media (max-width: 799px) {
    .history {
        padding: 10px;
    }

    .history-list__value-product {
        display: block;
    }

    .history-list__value-product-end {
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .history-list__value-product-return, .history-list__value-product-review {
        max-width: 260px;
        width: 100%;
    }

    .history-list__value-product-middle {
        width: calc(100% - 90px);
    }

    .history-list__value-product-box {
        width: 100%;
    }

    .history-list__value-product-view {
        margin: 0 2px;
    }

    .history-list__value-product-middle div {
        justify-content: space-between;
    }

    .history-list__value-product-middle div a {
        display: block;
        width: 100px;
        margin: 0;
    }

    .history-list__info-child {
        margin-right: 15px;
    }

    .history-list__value h2 {
        font-size: 18px;
    }

    .subwrapper {
        margin: 0;
    }
}

#order_cancel, #order_redelivery {
    display: none;
}

body {
    background-color: #E3E6E6;
}

html, body {
    height: 100%;
}