body, html{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    font-family: 'Hiragino Kaku Gothic ProN','Hiragino Sans', 'Arial', Meiryo, sans-serif;
}

a{
    text-decoration: none;
    color: #000000;
}


.global-header{
    width: 100%;
    height: 99px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.nav-belt{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131921;
    height: 60px;
    padding: 5px 0;
}
.nav-link{
    height: 100%;
    cursor: pointer;
}
.nav-belt__logo{
    margin: 0 6px;
    border: 1px solid transparent;
    height: 100%;
}
.nav-belt__logo:hover{
    border: 1px solid #ffffff;
}
.nav-belt__logo a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-belt__logo img{
    width: 115px;
    height: 40px;
    object-fit: cover;
    padding: 1px 8px;
}
.nav-belt__menu{
    position: relative;
    cursor: pointer;
    width: 45px;
    height: 45px;
    z-index: 200;
}

.nav-belt__menu span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 12px;
    height: 2px;
    background: #fff;
    width: 55%;
}

.nav-belt__menu span:nth-of-type(1) {
    top:15px;
}

.nav-belt__menu span:nth-of-type(2) {
    top:23px;
}

.nav-belt__menu span:nth-of-type(3) {
    top:31px;
}

.nav-belt__menu.active span:nth-of-type(1) {
    top: 18px;
    left: 13px;
    transform: translateY(6px) rotate(-45deg);
    width: 50%;
}

.nav-belt__menu.active span:nth-of-type(2) {
    opacity: 0;
}
.nav-belt__menu.active span:nth-of-type(3){
    top: 30px;
    left: 13px;
    transform: translateY(-6px) rotate(45deg);
    width: 50%;
}
.nav-belt__address{
    display: flex;
    align-items: end;
    margin: 0 15px;
}
.nav-belt__address-map{
    fill: #ffffff;
    height: 20px;
    width: 20px;
    margin-bottom: 4px;
}
.nav-belt__address-dir{

}
.nav-belt__address-number h1{
    margin: 0;
    color: #ffffff;
    font-size: 14px;
}
.nav-belt__address-name{
    display: flex;
}
.nav-belt__address-to{
    color: #ccc;
    margin: 0 5px 0 0;
    font-size: 12px;
}
.nav-belt__address-toname{
    color: #ccc;
    margin: 0;
    font-size: 12px;
}
.nav-belt__search{
    margin: 0 10px;
    height: 100%;
}
.nav-belt__search-select{
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3f3;
    border-right: 1px solid #c2c2c2;
    width: 80px;
    padding: 5px;
}
.nav-belt__search option{
    font-size: 15px;
}
.nav-belt__search form{
    height: 100%;
    display: flex;
    padding: 5px 0;
}
.nav-belt__search-input{
    font-size: 15px;
    outline: none;
    border: none;
    height: 100%;
    width: calc(100vw - 790px);
    padding: 0 8px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}
.nav-belt__search-submit{
    background-color: #69cafe;
    outline: none;
    border: none;
    width: 45px;
    height: 40px;
    border-radius: 0 5px 5px 0;
    position: absolute;
}
.nav-belt__search svg{
    fill: #111111;
    width: 30px;
    height: 30px;
    position: absolute;
}
.nav-belt__search-label{
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    cursor: pointer;
}
.nav-belt__account{
    color: #ffffff;
    margin: 0;
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.nav-belt__account:hover{
    border: 1px solid #ffffff;
}
.nav-belt__account p{
    margin: 0;
    font-size: 12px;
}
.nav-belt__account h1{
    margin: 0;
    font-size: 15px;
}
.nav-belt__returns{
    color: #ffffff;
    margin: 0 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid transparent;
    padding: 0 10px;
}
.nav-belt__returns:hover{
    border: 1px solid #ffffff;
}
.nav-belt__returns p{
    margin: 0;
    font-size: 12px;
}
.nav-belt__returns h1{
    margin: 0;
    font-size: 15px;
    text-align: center;
}
.nav-belt__cart{
    display: flex;
    align-items: end;
    border: 1px solid transparent;
}
.nav-belt__cart:hover{
    border: 1px solid #ffffff;
}
.nav-belt__cart-ui{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-belt__cart-ui svg{
    width: 40px;
    height: 40px;
    fill: #ffffff;
    position: absolute;
}
.nav-belt__cart-ui p{
    color: #90d4ff;
    font-weight: 700;
    margin: 0;
    position: absolute;
    transform: translate(3px, -6px);
}
.nav-belt__cart-text{

}
.nav-belt__cart-text h1{
    margin: 0;
    color: #ffffff;
    font-size: 15px;
    transform: translate(-7px, -5px);
}
.nav-main{
    height: 40px;
    background-color: #232f3e;
    display: flex;
    padding: 0 20px;
    font-size: 14px;
}
.nav-main__point{
    color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 12px;
}
.nav-main__point span{
    color: #90d4ff;
    margin-left: 7px;
}
.nav-main__category{
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    overflow: hidden;
}
.nav-main__category-child{
    color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 12px;
}
.nav-mobile__top{
    height: 45px;
    justify-content: space-between;
    align-items: center;
    background-color: #232f3e;
}
.nav-mobile__top-left{
    display: flex;
    align-items: end;
}
.nav-mobile__top-logo{
    width: 90px;
    height: 100%;
}
.nav-mobile__top-logo a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-mobile__top-logo a img{
    width: 100%;
}
@media(max-width: 999px){
    .nav-belt__address{
        display: none;
    }
    .nav-belt__returns{
        display: none;
    }
    .nav-belt__search-input{
        width: calc(100vw - 490px);
    }
}
@media(max-width: 799px){
    .nav-belt__menu{
        display: block;
    }
    .nav-belt__cart{
        display: none;
    }
    .nav-belt__account{
        display: none;
    }
    .nav-belt__logo{
        display: none;
    }
    .nav-main{
        display: none;
    }
    .wrapper{
        margin: 105px 0 0;
    }
    .nav-belt__search-select{
        display: none;
    }
    .nav-belt__search-input{
        border-radius: 5px 0 0 5px;
    }
    .nav-mobile__top{
        display: flex;
    }
}
@media(min-width: 800px){
    .nav-belt__menu{
        display: none;
    }
    .wrapper{
        margin: 100px 0 0;
    }
    .nav-mobile__top{
        display: none;
    }
}
.nav-mobile{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    display: block;
    padding: 15px;
    transform: translateX(265px);
    transition: .3s ease-in-out all;
    overflow: auto;
    box-shadow: 0 0 19px -5px rgba(0,0,0,0.6);
    z-index: 200;
}
.nav-mobile.isActive{
    transform: translateX(0);
}
.nav-mobile__account{
    display: flex;
    justify-content: space-between;
}
.nav-mobile__account p{
    margin: 0;
    font-size: 12px;
}
.nav-mobile__account a{
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    padding: 2px 4px;
}
.nav-mobile__account a:hover{
    background-color: #ececec;
}
.nav-mobile__logo{
    margin: 0 6px;
    height: 70px;
}
.nav-mobile__logo a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-mobile__logo img{
    width: auto;
    height: 50px;
    object-fit: cover;
    padding: 1px 8px;
}
.nav-mobile__address{
    display: flex;
    align-items: end;
    margin: 10px 0;
    padding: 5px;
    height: 58px;
}
.nav-mobile__address:hover{
    background-color: #ececec;
}
.nav-mobile__address-map{
    fill: #000000;
    height: 20px;
    width: 20px;
    margin-bottom: 4px;
}
.nav-mobile__address-dir{

}
.nav-mobile__address-number h1{
    margin: 0;
    color: #000000;
    font-size: 18px;
}
.nav-mobile__address-name{
    display: flex;
}
.nav-mobile__address-to{
    color: #8c8c8c;
    margin: 0 5px 0 0;
    font-size: 12px;
}
.nav-mobile__address-toname{
    color: #656565;
    margin: 0;
    font-size: 14px;
}
.nav-mobile__returns{
    color: #000000;
    margin: 10px 0;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 58px;
}
.nav-mobile__returns:hover{
    background-color: #ececec;
}
.nav-mobile__returns p{
    margin: 0;
    font-size: 12px;
    color: #8c8c8c;
}
.nav-mobile__returns h1{
    margin: 0;
    font-size: 18px;
}
.nav-mobile__cart{
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 5px 20px;
    height: 58px;
}
.nav-mobile__cart:hover{
    background-color: #ececec;
}
.nav-mobile__cart-ui{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-mobile__cart-ui p{
    color: #0061a1;
    font-weight: 700;
    margin: 0;
    position: absolute;
    transform: translate(3px, -6px);
}
.nav-mobile__cart-text{

}
.nav-mobile__cart-text h1{
    margin: 0;
    color: #000000;
    font-size: 18px;
}
.nav-mobile__top a{
    height: 45px;
    margin-right: 10px;
}
.nav-mobile__top-cart{
    display: flex;
    align-items: center;
    height: 100%;
}
.nav-mobile__top-cart-ui{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-mobile__top-cart-ui img{
    height: 100%;
}
.nav-mobile__top-cart-ui p{
    color: #90d4ff;
    font-weight: 700;
    margin: 0;
    position: absolute;
    transform: translate(3px, -6px);
}
.nav-mobile__category{
    margin: 20px 0;
}
.nav-mobile__category p{
    border-bottom: #ccc 1px solid;
    margin: 10px 0;
    font-size: 14px;
    color: #8c8c8c;
}
.nav-mobile__point{
    height: 30px;
    margin: 0 12px;
}
.nav-mobile__point span{
    color: #0061a1;
    margin-left: 7px;
}
.nav-mobile__category{
    height: 40px;
}
.nav-mobile__category-child{
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.nav-mobile__category-child:hover{
    background-color: #ececec;
}
.nav-mobile__background{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 150;
    top: 0;
    left: 0;
    display: none;
}
.nav-mobile__background.isActive{
    display: block;
}

.box{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.box__box{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box__box p{
    text-align: center;
}
.box__box h1{
    margin: 20px 0 0;
}
.box__box a{
    background-color: #1b3d77;
    color: #ffffff;
    padding: 8px 13px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}
.box__close{
    text-align: right;
    position: absolute;
    max-width: 400px;
    width: 100%;
    padding: 0 10px;
    height: 30px;
    margin: 0 10px;
}
.box__close svg{
    padding: 3px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}
.box__close svg:hover{
    background-color: #d9d9d9;
}

#logout{
    display: none;
}

.wrapper.isActive{
    overflow: hidden;
}

footer{
    background-color: #131921;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 0;
    padding: 10px;
}
.footer__link ul{
    display: flex;
}
.footer__link-list{
     margin: 0 5px;
}
.footer__link-list a{
    display: flex;
    align-items: center;
}
.footer__link-list a div{
    background-color: #1d2734;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul{
    list-style: none;
    padding: 0;
}
footer img{
    width: 130px;
}
footer p{
    margin: 0;
    font-size: 13px;
}