{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>注文を確定する | Utazon.com</title>
	<link rel="stylesheet" href="{% static 'buy/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'local.css' %}">
	<link rel="icon" href="{% static 'icon.svg' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/9.0.0/decimal.min.js"></script>
	<script src="{% static 'local.js' %}"></script>
	<script src="{% static 'buy/script.js' %}"></script>
</head>
<body>
<div class="global-header">
    <header>
        <div class="nav-belt">
            <div class="nav-belt__logo">
                <a href="/" class="nav-link">
                    <img src="{% static 'logo.svg' %}">
                </a>
            </div>
            <div class="nav-belt__address">
                <img class="nav-belt__address-map" src="{% static 'pin.svg' %}">
	            <div class="nav-belt__address-dir">
		            <div class="nav-belt__address-name">
			            <p class="nav-belt__address-to">お届け先</p>
		            </div>
		            <div class="nav-belt__address-number">
						{% if session is True %}
						<h1>1-0001仮</h1>
						{% else %}
						<h1>ログイン</h1>
						{% endif %}
		            </div>
	            </div>
            </div>
            <div class="nav-belt__search">
	            <form id="search">
		            <select class="nav-belt__search-select">
			            <option>すべて</option>
			            <option>建築ブロック</option>
			            <option>装飾ブロック</option>
			            <option>レッドストーン</option>
			            <option>運送</option>
			            <option>食料</option>
			            <option>道具</option>
			            <option>戦闘</option>
			            <option>醸造</option>
		            </select>
	                <input class="nav-belt__search-input" type="text" placeholder="検索 Utazon.com" value="{{ query }}" id="search_query">
		            <label class="nav-belt__search-label">
			            <input class="nav-belt__search-submit" type="submit" value="">
			            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"><path d="M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z"/></svg>
		            </label>
	            </form>
            </div>
			{% if session is True %}
			<a onclick="logout_confirm()" class="nav-link">
			{% else %}
			<a href="/login" class="nav-link">
			{% endif %}
				<div class="nav-belt__account">
				{% if session is True %}
		        	<p>{{ info.mc_id }}さん</p>
		        	<h1>ログアウト</h1>
				{% else %}
					<p>ゲストさん</p>
		        	<h1>ログイン</h1>
				{% endif %}
	        </div>
			</a>
			<a href="/history" class="nav-link">
	        	<div class="nav-belt__returns">
		        	<p>返品もこちら</p>
		        	<h1>注文履歴</h1>
	        	</div>
			</a>
			<a href="/cart" class="nav-link">
	        	<div class="nav-belt__cart">
		        	<div class="nav-belt__cart-ui">
			        	<img src="{% static 'cart.png' %}">
						{% if session is True %}
			        	<p>{{ info.user_cart }}</p>
						{% else %}
						<p>0</p>
						{% endif %}
		        	</div>
		        	<div class="nav-belt__cart-text">
			        	<h1>カート</h1>
		        	</div>
	        	</div>
			</a>
        </div>
	    <div class="nav-main">
			<a class="nav-main__point">Utazonポイント:<span>{{ info.point }}</span></a>
			<div class="nav-main__category">
				<a class="nav-main__category-child">ヘルプ</a>
				<a class="nav-main__category-child">プライム</a>
				<a class="nav-main__category-child">建築ブロック</a>
				<a class="nav-main__category-child">装飾ブロック</a>
				<a class="nav-main__category-child">レッドストーン</a>
				<a class="nav-main__category-child">運送</a>
				<a class="nav-main__category-child">食料</a>
				<a class="nav-main__category-child">道具</a>
				<a class="nav-main__category-child">戦闘</a>
				<a class="nav-main__category-child">醸造</a>
				<a class="nav-main__category-child">再購入</a>
			</div>
	    </div>
    </header>
</div>
<div class="wrapper">
	<div class="subwrapper">
		<div class="buy">
			<div class="buy-title">
				<h2>レジ</h2>
				{% if buy_now %}
				<a>{{ user_cart_number }}点の商品</a>
				{% else %}
				<a href="/cart">{{ user_cart_number }}点の商品</a>
				{% endif %}
			</div>
			{% if user_cart_number %}
			<div class="buy-receive buy-list">
				<div class="buy-left">
					<h3 class="buy-subtitle">
					<span>1</span>
					<span>お届け先</span>
					</h3>
				</div>
				<div class="buy-right">
					<p>{{ info.mc_id }}</p>
					<p>1-0001</p>
					<p>〇〇県 〇〇市〇〇丁目</p>
					<p>1-1-1</p>
				</div>
			</div>
			<div class="buy-balance buy-list">
				<div class="buy-left">
					<h3 class="buy-subtitle">
					<span>2</span>
					<span>残高</span>
					</h3>
				</div>
				{% if not player_balance %}
				<div class="buy-right" style="display: flex">
					<p>
						<span class="buy-balance__money">エラーが発生しました</span>
					</p>
				{% elif player_balance >= item_total_float %}
				<div class="buy-right" style="display: flex">
					<p>
						<span>購入後の残高</span>
						<span class="buy-balance__money">${{ player_balance }}</span>
					</p>
					<p style="margin: 0 0 0 20px">
						<span>→</span>
						<span class="buy-balance__money">${{ after_balance }}</span>
					</p>
				{% else %}
				<div class="buy-right">
					<p>
						<span>残高</span>
						<span class="buy-balance__money">${{ player_balance }}</span>
					</p>
					<p style="color: #b12704;font-weight: 700">残高不足です</p>
				{% endif %}
				</div>
			</div>
			<div class="buy-schedule buy-list">
				<div class="buy-left">
					<h3 class="buy-subtitle">
					<span>3</span>
					<span>商品情報</span>
					</h3>
				</div>
				<div class="buy-right">
					<h3 class="buy-schedule__date">：{{ rand_time.year }}年{{ rand_time.month }}月{{ rand_time.day }}日にお届け</h3>
					<div class="buy-items" data-items="{{ user_cart_id }}">
						<ul>
							{% for child in user_cart %}
							<li class="buy-items__list">
								<img src="{{ child.3.0 }}">
								<div class="buy-items__box">
									<h3>{{ child.1 }}</h3>
									<p>${{ child.9 }}</p>
									<p style="font-weight: 400;font-size: 14px;margin: 0;">個数: {{ child.10 }}</p>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="buy-point buy-list">
				<div class="buy-left">
					<h3 class="buy-subtitle">
					<span>4</span>
					<span>ポイント</span>
					</h3>
				</div>
				<div class="buy-right">
					<p>Utazonポイント：<span class="point">{{ info.point }}</span></p>
					<span>ポイントを使用：</span><input class="buy-point__input" type="number" value="0" id="card_add" min="0" max="{{ info.point }}">
					<p style="font-size: 12px;color: #ad0000;display: none" id="error1">請求額を超えています</p>
					<p style="font-size: 12px;color: #ad0000;display: none" id="error2">使用できるポイントを超えています</p>
				</div>
			</div>
			<div class="buy-confirm">
				{% if player_balance >= item_total_float %}
				<div class="buy-confirm__btn">
					<a id="order_confirm" style="cursor: pointer" data-buynow="{{ buy_now }}">注文を確定</a>
				</div>
				{% endif %}
				<div class="buy-confirm__description">
					<h3>ご請求額： $<span>{{ item_total }}</span></h3>
					<p>「注文を確定する」ボタンを押してご注文いただくことで、請求がされます。<br>
					また、本サイトで現金を請求するようなことは一切ありません！！</p>
				</div>
			</div>
			{% else %}
			<h3>商品がありません</h3>
			{% endif %}
		</div>
	</div>
</div>
{% if session == "expires" %}
<div class="box" id="expires">
	<div class="box__box">
		<div class="box__close">
			<svg onclick="close_box()" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
		</div>
		<h1>期限切れ</h1>
		<p>セッションの期限が切れました。お手数ですが、もう一度ログインをお願いいたします。</p>
		<a href="/login">ログイン</a>
	</div>
</div>
{% endif %}
<div class="box" id="logout">
	<div class="box__box">
		<div class="box__close">
			<svg onclick="close_box()" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
		</div>
		<h1>確認</h1>
		<p>本当にログアウトしますか？</p>
		<a href="/login/out">ログアウト</a>
	</div>
</div>
</body>
</html>