{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>注文履歴 | Utazon.com</title>
    <link rel="stylesheet" href="{% static 'history/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'local.css' %}">
	<link rel="icon" href="{% static 'icon.svg' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
	<script src="{% static 'local.js' %}"></script>
</head>
<body>
<div class="global-header">
    <header>
        <div class="nav-belt">
            <div class="nav-belt__logo">
                <a href="/" class="nav-link">
                    <img src="{% static 'logo.svg' %}">
                </a>
            </div>
            <div class="nav-belt__address">
                <img class="nav-belt__address-map" src="{% static 'pin.svg' %}">
	            <div class="nav-belt__address-dir">
		            <div class="nav-belt__address-name">
			            <p class="nav-belt__address-to">お届け先</p>
		            </div>
		            <div class="nav-belt__address-number">
						{% if session is True %}
						<h1>1-0001仮</h1>
						{% else %}
						<h1>ログイン</h1>
						{% endif %}
		            </div>
	            </div>
            </div>
            <div class="nav-belt__search">
	            <form id="search">
		            <select class="nav-belt__search-select">
			            <option>すべて</option>
			            <option>建築ブロック</option>
			            <option>装飾ブロック</option>
			            <option>レッドストーン</option>
			            <option>運送</option>
			            <option>食料</option>
			            <option>道具</option>
			            <option>戦闘</option>
			            <option>醸造</option>
		            </select>
	                <input class="nav-belt__search-input" type="text" placeholder="検索 Utazon.com" value="{{ query }}" id="search_query">
		            <label class="nav-belt__search-label">
			            <input class="nav-belt__search-submit" type="submit" value="">
			            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"><path d="M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z"/></svg>
		            </label>
	            </form>
            </div>
			{% if session is True %}
			<a onclick="logout_confirm()" class="nav-link">
			{% else %}
			<a href="/login" class="nav-link">
			{% endif %}
				<div class="nav-belt__account">
				{% if session is True %}
		        	<p>{{ info.mc_id }}さん</p>
		        	<h1>ログアウト</h1>
				{% else %}
					<p>ゲストさん</p>
		        	<h1>ログイン</h1>
				{% endif %}
	        </div>
			</a>
			<a href="/history" class="nav-link">
	        	<div class="nav-belt__returns">
		        	<p>返品もこちら</p>
		        	<h1>注文履歴</h1>
	        	</div>
			</a>
			<a href="/cart" class="nav-link">
	        	<div class="nav-belt__cart">
		        	<div class="nav-belt__cart-ui">
			        	<img src="{% static 'cart.png' %}">
						{% if session is True %}
			        	<p>{{ info.user_cart }}</p>
						{% else %}
						<p>0</p>
						{% endif %}
		        	</div>
		        	<div class="nav-belt__cart-text">
			        	<h1>カート</h1>
		        	</div>
	        	</div>
			</a>
        </div>
	    <div class="nav-main">
			<a class="nav-main__point">Utazonポイント:<span>{{ info.point }}</span></a>
			<div class="nav-main__category">
				<a class="nav-main__category-child">ヘルプ</a>
				<a class="nav-main__category-child">プライム</a>
				<a class="nav-main__category-child">建築ブロック</a>
				<a class="nav-main__category-child">装飾ブロック</a>
				<a class="nav-main__category-child">レッドストーン</a>
				<a class="nav-main__category-child">運送</a>
				<a class="nav-main__category-child">食料</a>
				<a class="nav-main__category-child">道具</a>
				<a class="nav-main__category-child">戦闘</a>
				<a class="nav-main__category-child">醸造</a>
				<a class="nav-main__category-child">再購入</a>
			</div>
	    </div>
    </header>
</div>
<div class="wrapper">
	<div class="subwrapper">
		<div class="history">
			<div class="history-title">
				<h2>注文履歴</h2>
			</div>
			{% if order_history %}
			<ul>
				{% for child in order_history %}
				<li class="history-list">
					<div class="history-list__info">
						<div class="history-list__info-child">
							<span>注文日</span>
							<p>{{ child.date.year }}年{{ child.date.month }}月{{ child.date.day }}日</p>
						</div>
						<div class="history-list__info-child">
							<span>合計</span>
							<p>${{ child.amount }}</p>
						</div>
						<div class="history-list__info-child">
							<span>注文番号</span>
							<p>{{ child.order_id }}</p>
						</div>
					</div>
					<div class="history-list__value">
						{% if child.status %}
						<h2>{{ child.delivery_time.year }}年{{ child.delivery_time.month }}月{{ child.delivery_time.day }}日に配達しました</h2>
						{% else %}
						<h2>{{ child.delivery_time.year }}年{{ child.delivery_time.month }}月{{ child.delivery_time.day }}日 {{ child.delivery_time.hour }}時に配達予定です</h2>
						{% endif %}
						{% for item in child.order_item %}
						<div class="history-list__value-product">
							<img src="{{ item.3.0 }}">
							<div class="history-list__value-product-middle">
								<a class="history-list__value-product-name" href="../item/?id={{ item.0 }}">{{ item.1 }}</a>
								{% if child.status %}
								<span>返品期間：2023/04/06まで</span>
								{% endif %}
								<div style="display: flex; margin-top: 5px">
									<a class="history-list__value-product-rebuy" href="../buy/?item=[[{{ item.0 }}, 1]]">再度購入</a>
									<a class="history-list__value-product-view" href="../item/?id={{ item.0 }}">商品を表示</a>
								</div>
							</div>
							<div class="history-list__value-product-end">
								{% if child.status %}
								<a class="history-list__value-product-return">商品を返品する</a>
								<a class="history-list__value-product-review" href="../review/?id={{ item.0 }}">商品をレビューする</a>
								{% else %}
								<a class="history-list__value-product-return">商品をキャンセルする</a>
								{% endif %}
							</div>
						</div>
						{% endfor %}
					</div>
				</li>
				{% endfor %}
			</ul>
			{% else %}
			<p>注文履歴がありません</p>
			{% endif %}
		</div>
	</div>
</div>
{% if session == "expires" %}
<div class="box" id="expires">
	<div class="box__box">
		<div class="box__close">
			<svg onclick="close_box()" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
		</div>
		<h1>期限切れ</h1>
		<p>セッションの期限が切れました。お手数ですが、もう一度ログインをお願いいたします。</p>
		<a href="/login">ログイン</a>
	</div>
</div>
{% endif %}
<div class="box" id="logout">
	<div class="box__box">
		<div class="box__close">
			<svg onclick="close_box()" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
		</div>
		<h1>確認</h1>
		<p>本当にログアウトしますか？</p>
		<a href="/login/out">ログアウト</a>
	</div>
</div>
</body>
</html>