{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Utazon.com | うたかた鯖</title>
	<link rel="stylesheet" href="{% static 'home/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'local.css' %}">
</head>
<body>
<div class="global-header">
    <header>
        <div class="nav-belt">
            <div class="nav-belt__logo">
                <a href="/">
                    <img src="../assets/logo.svg">
                </a>
            </div>
            <div class="nav-belt__address">
                <img class="nav-belt__address-map" src="../assets/pin.svg">
	            <div class="nav-belt__address-dir">
		            <div class="nav-belt__address-name">
			            <p class="nav-belt__address-to">お届け先</p>
			            <p class="nav-belt__address-toname">〇〇さん</p>
		            </div>
		            <div class="nav-belt__address-number">
						<h1>1-0001</h1>
		            </div>
	            </div>
            </div>
            <div class="nav-belt__search">
	            <form>
		            <select class="nav-belt__search-select">
			            <option>すべて</option>
			            <option>建築ブロック</option>
			            <option>装飾ブロック</option>
			            <option>レッドストーン</option>
			            <option>運送</option>
			            <option>食料</option>
			            <option>道具</option>
			            <option>戦闘</option>
			            <option>醸造</option>
		            </select>
	                <input class="nav-belt__search-input" type="text" placeholder="検索 Utazon.com">
		            <label class="nav-belt__search-label">
			            <input class="nav-belt__search-submit" type="submit" value="">
			            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"><path d="M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z"/></svg>
		            </label>
	            </form>
            </div>
	        <div class="nav-belt__account">
		        <p>〇〇さん</p>
		        <h1>アカウント&リスト</h1>
	        </div>
	        <div class="nav-belt__returns">
		        <p>返品もこちら</p>
		        <h1>注文履歴</h1>
	        </div>
	        <div class="nav-belt__cart">
		        <div class="nav-belt__cart-ui">
			        <img src="../assets/cart.png">
			        <p>1</p>
		        </div>
		        <div class="nav-belt__cart-text">
			        <h1>カート</h1>
		        </div>
	        </div>
        </div>
	    <div class="nav-main">
			<a class="nav-main__point">Utazonポイント:<span>100</span></a>
			<div class="nav-main__category">
				<a class="nav-main__category-child">ヘルプ</a>
				<a class="nav-main__category-child">プライム</a>
				<a class="nav-main__category-child">建築ブロック</a>
				<a class="nav-main__category-child">装飾ブロック</a>
				<a class="nav-main__category-child">レッドストーン</a>
				<a class="nav-main__category-child">運送</a>
				<a class="nav-main__category-child">食料</a>
				<a class="nav-main__category-child">道具</a>
				<a class="nav-main__category-child">戦闘</a>
				<a class="nav-main__category-child">醸造</a>
				<a class="nav-main__category-child">再購入</a>
			</div>
	    </div>
    </header>
</div>
<div class="wrapper">
	<div class="subwrapper">
		<div class="main">
			<div class="main-banner">
				<img src="https://m.media-amazon.com/images/I/71dD1qOtWXL._SX3000_.jpg">
			</div>
		</div>
		<div class="gw-layout">
			<div class="gw-card">
				<div class="gw-card__1 gw-card__child">
					<h1>閲覧履歴に基づくおすすめ商品</h1>
					<div class="gw-card__items">
						<div class="gw-card__item-above gw-card__item">
							<div class="gw-card__item1">
								<img class="gw-card__item-img" src="https://images-fe.ssl-images-amazon.com/images/G/09/2023/fashion/05_May/CML/01_Gateway/ASIN_Based/CML_202305_GW_M_quadcard_1_dt_186x116._SY116_CB590267832_.jpg">
								<p class="gw-card__item1-name">商品名</p>
							</div>
							<div class="gw-card__item2">
								<img class="gw-card__item-img" src="https://images-fe.ssl-images-amazon.com/images/G/09/2023/fashion/05_May/CML/01_Gateway/ASIN_Based/CML_202305_GW_M_quadcard_1_dt_186x116._SY116_CB590267832_.jpg">
								<p class="gw-card__item1-name">商品名</p>
							</div>
						</div>
						<div class="gw-card__item-below gw-card__item">
							<div class="gw-card__item1">
								<img class="gw-card__item-img" src="https://images-fe.ssl-images-amazon.com/images/G/09/2023/fashion/05_May/CML/01_Gateway/ASIN_Based/CML_202305_GW_M_quadcard_1_dt_186x116._SY116_CB590267832_.jpg">
								<p class="gw-card__item1-name">商品名</p>
							</div>
							<div class="gw-card__item2">
								<img class="gw-card__item-img" src="https://images-fe.ssl-images-amazon.com/images/G/09/2023/fashion/05_May/CML/01_Gateway/ASIN_Based/CML_202305_GW_M_quadcard_1_dt_186x116._SY116_CB590267832_.jpg">
								<p class="gw-card__item1-name">商品名</p>
							</div>
						</div>
					</div>
				</div>
				<div class="gw-card__2 gw-card__child">
					<h1>ショッピングを続ける</h1>
					<div class="gw-card__items">
						<div class="gw-card__item-above gw-card__item">
							<div class="gw-card__item1">
								<img class="gw-card__item-img" src="https://images-fe.ssl-images-amazon.com/images/G/09/2023/fashion/05_May/CML/01_Gateway/ASIN_Based/CML_202305_GW_M_quadcard_1_dt_186x116._SY116_CB590267832_.jpg">
								<p class="gw-card__item1-name">商品名</p>
							</div>
							<div class="gw-card__item2">
								<img class="gw-card__item-img" src="https://images-fe.ssl-images-amazon.com/images/G/09/2023/fashion/05_May/CML/01_Gateway/ASIN_Based/CML_202305_GW_M_quadcard_1_dt_186x116._SY116_CB590267832_.jpg">
								<p class="gw-card__item1-name">商品名</p>
							</div>
						</div>
						<div class="gw-card__item-below gw-card__item">
							<div class="gw-card__item1">
								<img class="gw-card__item-img" src="https://images-fe.ssl-images-amazon.com/images/G/09/2023/fashion/05_May/CML/01_Gateway/ASIN_Based/CML_202305_GW_M_quadcard_1_dt_186x116._SY116_CB590267832_.jpg">
								<p class="gw-card__item1-name">商品名</p>
							</div>
							<div class="gw-card__item2">
								<img class="gw-card__item-img" src="https://images-fe.ssl-images-amazon.com/images/G/09/2023/fashion/05_May/CML/01_Gateway/ASIN_Based/CML_202305_GW_M_quadcard_1_dt_186x116._SY116_CB590267832_.jpg">
								<p class="gw-card__item1-name">商品名</p>
							</div>
						</div>
					</div>
				</div>
				<div class="gw-card__3 gw-card__child">
					<h1>プライム会員</h1>
					<div class="gw-card__items">
						<div class="gw-card__item-above gw-card__item">
							<div class="gw-card__item1">
								<img class="gw-card__item-img" src="https://images-fe.ssl-images-amazon.com/images/G/09/2023/fashion/05_May/CML/01_Gateway/ASIN_Based/CML_202305_GW_M_quadcard_1_dt_186x116._SY116_CB590267832_.jpg">
								<p class="gw-card__item1-name">商品名</p>
							</div>
							<div class="gw-card__item2">
								<img class="gw-card__item-img" src="https://images-fe.ssl-images-amazon.com/images/G/09/2023/fashion/05_May/CML/01_Gateway/ASIN_Based/CML_202305_GW_M_quadcard_1_dt_186x116._SY116_CB590267832_.jpg">
								<p class="gw-card__item1-name">商品名</p>
							</div>
						</div>
						<div class="gw-card__item-below gw-card__item">
							<div class="gw-card__item1">
								<img class="gw-card__item-img" src="https://images-fe.ssl-images-amazon.com/images/G/09/2023/fashion/05_May/CML/01_Gateway/ASIN_Based/CML_202305_GW_M_quadcard_1_dt_186x116._SY116_CB590267832_.jpg">
								<p class="gw-card__item1-name">商品名</p>
							</div>
							<div class="gw-card__item2">
								<img class="gw-card__item-img" src="https://images-fe.ssl-images-amazon.com/images/G/09/2023/fashion/05_May/CML/01_Gateway/ASIN_Based/CML_202305_GW_M_quadcard_1_dt_186x116._SY116_CB590267832_.jpg">
								<p class="gw-card__item1-name">商品名</p>
							</div>
						</div>
					</div>
				</div>
				<div class="gw-card__4 gw-card__child">
					<h1>ショッピングを続ける</h1>
					<div class="gw-card__items">
						<div class="gw-card__item-above gw-card__item">
							<div class="gw-card__item1">
								<img class="gw-card__item-img" src="https://images-fe.ssl-images-amazon.com/images/G/09/2023/fashion/05_May/CML/01_Gateway/ASIN_Based/CML_202305_GW_M_quadcard_1_dt_186x116._SY116_CB590267832_.jpg">
								<p class="gw-card__item1-name">商品名</p>
							</div>
							<div class="gw-card__item2">
								<img class="gw-card__item-img" src="https://images-fe.ssl-images-amazon.com/images/G/09/2023/fashion/05_May/CML/01_Gateway/ASIN_Based/CML_202305_GW_M_quadcard_1_dt_186x116._SY116_CB590267832_.jpg">
								<p class="gw-card__item1-name">商品名</p>
							</div>
						</div>
						<div class="gw-card__item-below gw-card__item">
							<div class="gw-card__item1">
								<img class="gw-card__item-img" src="https://images-fe.ssl-images-amazon.com/images/G/09/2023/fashion/05_May/CML/01_Gateway/ASIN_Based/CML_202305_GW_M_quadcard_1_dt_186x116._SY116_CB590267832_.jpg">
								<p class="gw-card__item1-name">商品名</p>
							</div>
							<div class="gw-card__item2">
								<img class="gw-card__item-img" src="https://images-fe.ssl-images-amazon.com/images/G/09/2023/fashion/05_May/CML/01_Gateway/ASIN_Based/CML_202305_GW_M_quadcard_1_dt_186x116._SY116_CB590267832_.jpg">
								<p class="gw-card__item1-name">商品名</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>