{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ item_name }} | Utazon.com</title>
    <link rel="stylesheet" href="{% static 'item/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'local.css' %}">
	<link rel="icon" href="{% static 'icon.svg' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
	<script src="{% static 'local.js' %}"></script>
	<script src="{% static 'item/script.js' %}"></script>
</head>
<body>
<div class="global-header">
    <header>
        <div class="nav-belt">
            <div class="nav-belt__logo">
                <a href="/" class="nav-link">
                    <img src="{% static 'logo.svg' %}">
                </a>
            </div>
			<div class="nav-belt__menu">
				<span></span>
				<span></span>
				<span></span>
			</div>
            <div class="nav-belt__address">
                <img class="nav-belt__address-map" src="{% static 'pin.svg' %}">
	            <div class="nav-belt__address-dir">
		            <div class="nav-belt__address-name">
			            <p class="nav-belt__address-to">お届け先</p>
		            </div>
		            <div class="nav-belt__address-number">
						{% if session is True %}
						<h1>1-0001仮</h1>
						{% else %}
						<h1>ログイン</h1>
						{% endif %}
		            </div>
	            </div>
            </div>
            <div class="nav-belt__search">
	            <form id="search">
		            <select class="nav-belt__search-select">
						<option value="all">すべて</option>
						{% for jp, en in info.categories.items %}
			            <option value="{{ en }}">{{ jp }}</option>
						{% endfor %}
		            </select>
	                <input class="nav-belt__search-input" type="text" placeholder="検索 Utazon.com" value="{{ query }}" id="search_query">
		            <label class="nav-belt__search-label">
			            <input class="nav-belt__search-submit" type="submit" value="">
			            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"><path d="M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z"/></svg>
		            </label>
	            </form>
            </div>
			{% if session is True %}
			<a onclick="logout_confirm()" class="nav-link">
			{% else %}
			<a href="/login" class="nav-link">
			{% endif %}
				<div class="nav-belt__account">
				{% if session is True %}
		        	<p>{{ info.mc_id }}さん</p>
		        	<h1>ログアウト</h1>
				{% else %}
					<p>ゲストさん</p>
		        	<h1>ログイン</h1>
				{% endif %}
	        	</div>
			</a>
			<a href="/history" class="nav-link">
	        	<div class="nav-belt__returns">
		        	<p>返品もこちら</p>
		        	<h1>履歴</h1>
	        	</div>
			</a>
			<a href="/cart" class="nav-link">
	        	<div class="nav-belt__cart">
		        	<div class="nav-belt__cart-ui">
			        	<img src="{% static 'cart.png' %}">
						{% if session is True %}
			        	<p>{{ info.user_cart }}</p>
						{% else %}
						<p>0</p>
						{% endif %}
		        	</div>
		        	<div class="nav-belt__cart-text">
			        	<h1>カート</h1>
		        	</div>
	        	</div>
			</a>
        </div>
	    <div class="nav-main">
			<div class="nav-main__category">
				<a class="nav-main__point">Utazonポイント:<span>{{ info.point }}</span></a>
				<a class="nav-main__category-child">ヘルプ</a>
				<a class="nav-main__category-child">プライム</a>
				{% for jp, en in info.categories.items %}
				<a class="nav-main__category-child" href="/category/?name={{ en }}">{{ jp }}</a>
				{% endfor %}
				<a class="nav-main__category-child" href="/history">再度購入</a>
			</div>
	    </div>
		<nav class="nav-mobile">
			<div class="nav-mobile__account">
				{% if session is True %}
				<p>{{ info.mc_id }}さん</p>
				<a onclick="logout_confirm()">ログアウト</a>
				{% else %}
				<p>ゲストさん</p>
				<a href="login">ログイン</a>
				{% endif %}
			</div>
			<div class="nav-mobile__logo">
                <a href="/" class="nav-link">
                    <img src="{% static 'logo-black.svg' %}">
                </a>
            </div>
			<div class="nav-mobile__address">
				<img class="nav-mobile__address-map" src="{% static 'pin-black.svg' %}">
				<div class="nav-mobile__address-dir">
					<div class="nav-mobile__address-name">
						<p class="nav-mobile__address-to">お届け先</p>
					</div>
					<div class="nav-mobile__address-number">
						{% if session is True %}
						<h1>1-0001仮</h1>
						{% else %}
						<h1>ログイン</h1>
						{% endif %}
					</div>
				</div>
			</div>
			<a href="/history">
	        	<div class="nav-mobile__returns">
		        	<p>返品もこちら</p>
		        	<h1>注文履歴・閲覧履歴</h1>
	        	</div>
			</a>
			<a href="/cart">
	        	<div class="nav-mobile__cart">
		        	<div class="nav-mobile__cart-ui">
			        	<img src="{% static 'cart-black.png' %}">
						{% if session is True %}
			        	<p>{{ info.user_cart }}</p>
						{% else %}
						<p>0</p>
						{% endif %}
		        	</div>
		        	<div class="nav-mobile__cart-text">
			        	<h1>カート</h1>
		        	</div>
	        	</div>
			</a>
			<div>
				<a class="nav-mobile__point">Utazonポイント:<span>{{ info.point }}</span></a>
				<a class="nav-mobile__category-child">ヘルプ</a>
				<a class="nav-mobile__category-child">プライム</a>
			</div>
			<div class="nav-mobile__category">
				<p>カテゴリー</p>
				<div class="nav-mobile__list">
					{% for jp, en in info.categories.items %}
					<a class="nav-mobile__category-child" href="/category/?name={{ en }}">{{ jp }}</a>
					{% endfor %}
					<a class="nav-mobile__category-child" href="/history">再度購入</a>
				</div>
			</div>
		</nav>
		<div class="nav-mobile__background"></div>
    </header>
</div>
<div class="wrapper">
	<div class="item">
		<div class="item-category">
			{% if item_category.parent %}
			<a href="../category/?name={{ item_category.parent.en }}">{{ item_category.parent.jp }}</a>
			<span>></span>
			{% endif %}
			<a href="../category/?name={{ item_category.en }}">{{ item_category.jp }}</a>
		</div>
		<div class="item-about">
			<div class="item-about__img">
				<div class="item-about__img-list">
					{% for child in item_images %}
					<img class="item-about__img-list-img" src="{{ child }}" data-src="{{ child }}">
					{% endfor %}
				</div>
				<div class="item-about__img-index">
					<img class="item-about__img-index-img" src="{{ item_images.0 }}">
				</div>
				<div class="item-about__img-slider">
					{% for child in item_images %}
				  	<div class="item-about__img-slide">
						<div class="item-about__img-slide-content">
							<img src="{{ child }}">
						</div>
				  	</div>
					{% endfor %}
				</div>
			</div>
			<div class="item-about__description">
				<div class="item-about__description-above">
					<h1>{{ item_name }}</h1>
					<a>〇〇のストアを表示</a>
					{% if item_review_av %}
					<div class="item-about__star">
						<span>{{ item_review_av }}</span>
						{% if item_review_av >= 4.8 %}
						<div class="item-about__star-img" style="background-position: -2px -2px;">
						{% elif item_review_av >= 4.3  and item_review_av < 4.8 %}
						<div class="item-about__star-img" style="background-position: -2px -42px;">
						{% elif item_review_av >= 3.8  and item_review_av < 4.3 %}
						<div class="item-about__star-img" style="background-position: -2px -22px;">
						{% elif item_review_av >= 3.3  and item_review_av < 3.8 %}
						<div class="item-about__star-img" style="background-position: -2px -82px;">
						{% elif item_review_av >= 2.8  and item_review_av < 3.3 %}
						<div class="item-about__star-img" style="background-position: -2px -62px;">
						{% elif item_review_av >= 2.3  and item_review_av < 2.8 %}
						<div class="item-about__star-img" style="background-position: -2px -122px;">
						{% elif item_review_av >= 1.8  and item_review_av < 2.3 %}
						<div class="item-about__star-img" style="background-position: -2px -102px;">
						{% elif item_review_av >= 1.3  and item_review_av < 1.8 %}
						<div class="item-about__star-img" style="background-position: -2px -162px;">
						{% elif item_review_av >= 0.8  and item_review_av < 1.3 %}
						<div class="item-about__star-img" style="background-position: -2px -142px;">
						{% elif item_review_av >= 0.3  and item_review_av < 0.8 %}
						<div class="item-about__star-img" style="background-position: -2px -202px;">
						{% elif  item_review_av < 0.3 %}
						<div class="item-about__star-img" style="background-position: -2px -182px;">
						{% endif %}

							<span style="opacity: 0;">5つ星のうち{{ item_review_av }}</span>
						</div>
						<a>{{ item_review_number }}個の評価</a>
					</div>
					{% endif %}
				</div>
				<div class="item-about__description-below">
					<h1><span>$</span>{{ item_price }}</h1>
					<p>ポイント:<span>{{ item_point }}pt</span><span>({{ point_return }}%)</span><a>詳細はこちら</a></p>
				</div>
				<div class="item-about__description-buy">
					<div class="item-about__buy-delivery">
						<p class="item-about__buy-delivery-box">
							<span class="item-about__buy-delivery-type">無料配送</span>
							<span class="item-about__buy-delivery-date">{{ rand_time.month }}月{{ rand_time.day }}日</span>
							<span class="item-about__buy-delivery-dateafter">にお届け</span>
						</p>
					</div>
					<div class="item-about__buy-address">
						<svg class="item-about__buy-address-map" viewBox="0 0 210 210" xmlns="http://www.w3.org/2000/svg"><defs id="defs2" /><g><path id="path790" style="fill:none;stroke:#000000;stroke-width:14;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers;stop-color:#000000;stroke-opacity:1;stroke-dasharray:none" d="m 175.59797,93.153942 c 0,39.039728 -70.6877,95.819318 -70.6877,95.819318 0,0 -70.6877,-56.77957 -70.687702,-95.819318 2e-6,-39.039739 31.647965,-70.687702 70.687702,-70.6877 39.03974,3e-6 70.6877,31.647964 70.6877,70.6877 z" /><circle style="fill:none;stroke:#000000;stroke-width:14;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers;stop-color:#000000" id="path790-3" cx="104.60429" cy="93.153938" r="34.623932" /></g></svg>
						<p>〇〇 - 1-0001 にお届け</p>
					</div>
					<div class="item-about__buy-stock">
						<p>
							{% if item_stock > 15 %}
							<span class="item-about__buy-stock-in">在庫あり。</span>
							{% elif item_stock <= 15 and item_stock >= 1%}
							<span class="item-about__buy-stock-out">残り{{ item_stock }}点 ご注文はお早めに</span>
							{% endif %}
							<span><span class="item-about__buy-stock-status">在庫状況</span>について</span>
					</div>
					<div class="item-about__buy-order">
						{% if session %}
						<form method="get" action="">
							<div class="item-about__buy-order-number">
								<p>数量:</p>
								<input class="item-about__buy-order-number-input" type="number" value="1" id="card_add">
							</div>
							<a onclick="location.href=`../buy?item=[[{{ item_id }}, ${cart_number}]]`" class="item-about__buy-order-input">今すぐ買う</a>
							<a onclick="location.href=`../cart/add/?id={{ item_id }}&n=${cart_number}`" class="item-about__buy-order-cart">カートに入れる</a>
						</form>
						{% else %}
						<a href="../login" class="item-about__buy-order-cart" type="submit">ログインして購入</a>
						{% endif %}
					</div>
				</div>
				<div class="item-about__description-safe">
					<div class="item-about__description-safe-child">
						<img src="https://m.media-amazon.com/images/G/09/PACE/TrustWidgetJP/ship-by-amazon._CB605484902_.png">
						<p>Utazonによる発送</p>
					</div>
					<div class="item-about__description-safe-child">
						<img src="https://m.media-amazon.com/images/G/09/PACE/TrustWidgetJP/worry-free-guarantee._CB605037564_.png">
						<p>安心・安全への取り組み</p>
					</div>
					<div class="item-about__description-safe-child">
						<img src="https://m.media-amazon.com/images/G/09/PACE/TrustWidgetJP/secure-transaction._CB605037564_.png">
						<p>お客様情報の保護</p>
					</div>
				</div>
				<!--
				<div class="item-about__description-feature">
					<table>
						{% for head, value in item_about %}
						<tr>
							<td class="item-about__description-feature-head">{{ head }}</td>
							<td>{{ value }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
				-->
				<div class="item-about__description-about">
					<h1>商品について</h1>
					<ul>
						{% for child in item_kind %}
						<li>日本正規代理店品</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="item-about__buy">
				<div class="item-about__buy-price">
					<h1><span>$</span>{{ item_price }}</h1>
				</div>
				<div class="item-about__buy-point">
					<p>ポイント:<span>{{ item_point }}pt</span><span>({{ point_return }}%)</span><a>詳細はこちら</a></p>
				</div>
				<div class="item-about__buy-delivery">
					<p class="item-about__buy-delivery-box">
						<span class="item-about__buy-delivery-type">無料配送</span>
						<span class="item-about__buy-delivery-date">{{ rand_time.month }}月{{ rand_time.day }}日</span>
						<span class="item-about__buy-delivery-dateafter">にお届け</span>
					</p>
				</div>
				<div class="item-about__buy-address">
					<svg class="item-about__buy-address-map" viewBox="0 0 210 210" xmlns="http://www.w3.org/2000/svg"><defs id="defs2" /><g><path id="path790" style="fill:none;stroke:#000000;stroke-width:14;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers;stop-color:#000000;stroke-opacity:1;stroke-dasharray:none" d="m 175.59797,93.153942 c 0,39.039728 -70.6877,95.819318 -70.6877,95.819318 0,0 -70.6877,-56.77957 -70.687702,-95.819318 2e-6,-39.039739 31.647965,-70.687702 70.687702,-70.6877 39.03974,3e-6 70.6877,31.647964 70.6877,70.6877 z" /><circle style="fill:none;stroke:#000000;stroke-width:14;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers;stop-color:#000000" id="path790-3" cx="104.60429" cy="93.153938" r="34.623932" /></g></svg>
					<p>〇〇 - 1-0001 にお届け</p>
				</div>
				<div class="item-about__buy-stock">
					<p>
						{% if item_stock > 15 %}
						<span class="item-about__buy-stock-in">在庫あり。</span>
						{% elif item_stock <= 15 and item_stock >= 1%}
						<span class="item-about__buy-stock-out">残り{{ item_stock }}点 ご注文はお早めに</span>
						{% endif %}
						<span><span class="item-about__buy-stock-status">在庫状況</span>について</span>
				</div>
				<div class="item-about__buy-order">
					{% if session %}
					<form method="get" action="">
						<div class="item-about__buy-order-number">
							<p>数量:</p>
							<input class="item-about__buy-order-number-input" type="number" value="1" id="card_add">
						</div>
						<a onclick="location.href=`../buy?item=[[{{ item_id }}, ${cart_number}]]`" class="item-about__buy-order-input">今すぐ買う</a>
						<a onclick="location.href=`../cart/add/?id={{ item_id }}&n=${cart_number}`" class="item-about__buy-order-cart">カートに入れる</a>
					</form>
					{% else %}
					<a href="../login" class="item-about__buy-order-cart" type="submit">ログインして購入</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="review">
		<div class="review-left">
			<h2>カスタマーレビュー</h2>
			{% if item_review_av %}
			<div class="review-star__box">
				{% if item_review_av >= 4.8 %}
				<div class="review-star" style="background-position: -99px -366px;">
				{% elif item_review_av >= 4.3  and item_review_av < 4.8 %}
				<div class="review-star" style="background-position: -390px -462px;">
				{% elif item_review_av >= 3.8  and item_review_av < 4.3 %}
				<div class="review-star" style="background-position: -2px -342px;">
				{% elif item_review_av >= 3.3  and item_review_av < 3.8 %}
				<div class="review-star" style="background-position: -196px -414px;">
				{% elif item_review_av >= 2.8  and item_review_av < 3.3 %}
				<div class="review-star" style="background-position: -293px -438px;">
				{% elif item_review_av >= 2.3  and item_review_av < 2.8 %}
				<div class="review-star" style="background-position: -2px -366px;">
				{% elif item_review_av >= 1.8  and item_review_av < 2.3 %}
				<div class="review-star" style="background-position: -99px -390px;">
				{% elif item_review_av >= 1.3  and item_review_av < 1.8 %}
				<div class="review-star" style="background-position: -293px -462px;">
				{% elif item_review_av >= 0.8  and item_review_av < 1.3 %}
				<div class="review-star" style="background-position: -390px -486px;">
				{% elif item_review_av >= 0.3  and item_review_av < 0.8 %}
				<div class="review-star" style="background-position: -99px -415px;">
				{% elif  item_review_av < 0.3 %}
				<div class="review-star" style="background-position: -196px -438px;">
				{% endif %}
					<span style="opacity: 0">5つ星のうち{{ item_review_av }}</span>
				</div>
				<p>{{ item_review_av }}/5</p>
			</div>
			{% endif %}
			{% if session is True %}
			<div class="review-write">
				<a href="/review/?id={{ item_id }}">レビューを書く</a>
			</div>
			{% endif %}
		</div>
		<div class="review-right">
			{% if item_review_av %}
			<h2 class="review-right-title">上位レビュー</h2>
			{% else %}
			<h2 class="review-right-title">まだカスタマーレビューはありません</h2>
			{% endif %}
			<ul class="review-list">
				{% for child in item_review %}
				<li class="review-list__child">
					<div class="review-list__account">
						<img class="review-list__account-img" src="https://crafatar.com/avatars/{{ child.mc_uuid }}?size=30">
						<p>{{ child.mc_id }}</p>
					</div>
					<div class="review-list__title">
						{% if child.star >= 4.8 %}
						<div class="review-list__title-star" style="background-position: -2px -2px;">
						{% elif child.star >= 4.3  and child.star < 4.8 %}
						<div class="review-list__title-star" style="background-position: -2px -42px;">
						{% elif child.star >= 3.8  and child.star < 4.3 %}
						<div class="review-list__title-star" style="background-position: -2px -22px;">
						{% elif child.star >= 3.3  and child.star < 3.8 %}
						<div class="review-list__title-star" style="background-position: -2px -82px;">
						{% elif child.star >= 2.8  and child.star < 3.3 %}
						<div class="review-list__title-star" style="background-position: -2px -62px;">
						{% elif child.star >= 2.3  and child.star < 2.8 %}
						<div class="review-list__title-star" style="background-position: -2px -122px;">
						{% elif child.star >= 1.8  and child.star < 2.3 %}
						<div class="review-list__title-star" style="background-position: -2px -102px;">
						{% elif child.star >= 1.3  and child.star < 1.8 %}
						<div class="review-list__title-star" style="background-position: -2px -162px;">
						{% elif child.star >= 0.8  and child.star < 1.3 %}
						<div class="review-list__title-star" style="background-position: -2px -142px;">
						{% elif child.star >= 0.3  and child.star < 0.8 %}
						<div class="review-list__title-star" style="background-position: -2px -202px;">
						{% elif  child.star < 0.3 %}
						<div class="review-list__title-star" style="background-position: -2px -182px;">
						{% endif %}
							<span style="opacity: 0">5つ星のうち{{ child.star }}</span>
						</div>
						<h2>{{ child.title }}</h2>
					</div>
					<div class="review-list__value">
						<p class="review-list__value-date">{{ child.date.year }}年{{ child.date.month }}月{{ child.date.day }}日にレビュー済み</p>
						<p class="review-list__value-text">{{ child.value }}</p>
						<div class="review-list__value-use">
							{% if child.useful != 0 %}
							<p class="review-list__value-use-text">{{ child.useful }}人のお客様がこれが役に立ったと考えています</p>
							{% endif %}
							<div class="review-list__value-use-btn">
								<a class="review-list__value-use-btn-useful" data-href="/review/userful/?id={{ item_id }}&review_id={{ child.id }}">役に立った</a>
								<p style="font-size: 14px;color: #067D62;margin: 0;display: none" data-href="/review/userful/?id={{ item_id }}&review_id={{ child.id }}">フィードバックをお寄せいただきありがとうございます。</p>
								<a>レポート</a>
							</div>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% if session == "expires" %}
<div class="box" id="expires">
	<div class="box__box">
		<div class="box__close">
			<svg onclick="close_box()" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
		</div>
		<h1>期限切れ</h1>
		<p>セッションの期限が切れました。お手数ですが、もう一度ログインをお願いいたします。</p>
		<a href="/login">ログイン</a>
	</div>
</div>
{% endif %}
<div class="box" id="logout">
	<div class="box__box">
		<div class="box__close">
			<svg onclick="close_box()" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
		</div>
		<h1>確認</h1>
		<p>本当にログアウトしますか？</p>
		<a href="/login/out">ログアウト</a>
	</div>
</div>
</body>
</html>