{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Utazon.com | うたかた鯖</title>
    <link rel="stylesheet" href="{% static 'item/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'local.css' %}">
	<link rel="icon" href="{% static 'icon.svg' %}">
</head>
<body>
<div class="global-header">
    <header>
        <div class="nav-belt">
            <div class="nav-belt__logo">
                <a href="/">
                    <img src="../assets/logo.svg">
                </a>
            </div>
            <div class="nav-belt__address">
                <img class="nav-belt__address-map" src="../assets/pin.svg">
	            <div class="nav-belt__address-dir">
		            <div class="nav-belt__address-name">
			            <p class="nav-belt__address-to">お届け先</p>
			            <p class="nav-belt__address-toname">〇〇さん</p>
		            </div>
		            <div class="nav-belt__address-number">
						<h1>1-0001</h1>
		            </div>
	            </div>
            </div>
            <div class="nav-belt__search">
	            <form>
		            <select class="nav-belt__search-select">
			            <option>すべて</option>
			            <option>建築ブロック</option>
			            <option>装飾ブロック</option>
			            <option>レッドストーン</option>
			            <option>運送</option>
			            <option>食料</option>
			            <option>道具</option>
			            <option>戦闘</option>
			            <option>醸造</option>
		            </select>
	                <input class="nav-belt__search-input" type="text" placeholder="検索 Utazon.com">
		            <label class="nav-belt__search-label">
			            <input class="nav-belt__search-submit" type="submit" value="">
			            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"><path d="M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z"/></svg>
		            </label>
	            </form>
            </div>
	        <div class="nav-belt__account">
		        <p>〇〇さん</p>
		        <h1>アカウント&リスト</h1>
	        </div>
	        <div class="nav-belt__returns">
		        <p>返品もこちら</p>
		        <h1>注文履歴</h1>
	        </div>
	        <div class="nav-belt__cart">
		        <div class="nav-belt__cart-ui">
			        <img src="../assets/cart.png">
			        <p>1</p>
		        </div>
		        <div class="nav-belt__cart-text">
			        <h1>カート</h1>
		        </div>
	        </div>
        </div>
	    <div class="nav-main">
			<a class="nav-main__point">Utazonポイント:<span>100</span></a>
			<div class="nav-main__category">
				<a class="nav-main__category-child">ヘルプ</a>
				<a class="nav-main__category-child">プライム</a>
				<a class="nav-main__category-child">建築ブロック</a>
				<a class="nav-main__category-child">装飾ブロック</a>
				<a class="nav-main__category-child">レッドストーン</a>
				<a class="nav-main__category-child">運送</a>
				<a class="nav-main__category-child">食料</a>
				<a class="nav-main__category-child">道具</a>
				<a class="nav-main__category-child">戦闘</a>
				<a class="nav-main__category-child">醸造</a>
				<a class="nav-main__category-child">再購入</a>
			</div>
	    </div>
    </header>
</div>
<div class="wrapper">
	<div class="item">
		<div class="item-category">
			<a>ブロック</a>
			<span>></span>
			<a>あいうえお</a>
		</div>
		<div class="item-about">
			<div class="item-about__img">
				<div class="item-about__img-list">
					<img class="item-about__img-list-img" src="https://m.media-amazon.com/images/I/61XeAxs1D0L._AC_SX679_.jpg">
					<img class="item-about__img-list-img" src="https://m.media-amazon.com/images/I/61XeAxs1D0L._AC_SX679_.jpg">
					<img class="item-about__img-list-img" src="https://m.media-amazon.com/images/I/61XeAxs1D0L._AC_SX679_.jpg">
					<img class="item-about__img-list-img" src="https://m.media-amazon.com/images/I/61XeAxs1D0L._AC_SX679_.jpg">
				</div>
				<div class="item-about__img-index">
					<img class="item-about__img-index-img" src="https://m.media-amazon.com/images/I/61XeAxs1D0L._AC_SX679_.jpg">
				</div>
			</div>
			<div class="item-about__description">
				<div class="item-about__description-above">
					<h1>商品名あああああああああああああああああああおうぃうえｒわああああああああああああああああああああ</h1>
					<p>〇〇のストアを表示</p>
				</div>
				<div class="item-about__description-below">
					<h1><span>$</span>1,000</h1>
					<p>ポイント:<span>100pt</span><span>(10%)</span><a>詳細はこちら</a></p>
				</div>
				<div class="item-about__description-safe">
					<div class="item-about__description-safe-child">
						<img src="https://m.media-amazon.com/images/G/09/PACE/TrustWidgetJP/ship-by-amazon._CB605484902_.png">
						<p>Utazonによる発送</p>
					</div>
					<div class="item-about__description-safe-child">
						<img src="https://m.media-amazon.com/images/G/09/PACE/TrustWidgetJP/worry-free-guarantee._CB605037564_.png">
						<p>安心・安全への取り組み</p>
					</div>
					<div class="item-about__description-safe-child">
						<img src="https://m.media-amazon.com/images/G/09/PACE/TrustWidgetJP/secure-transaction._CB605037564_.png">
						<p>お客様情報の保護</p>
					</div>
				</div>
				<div class="item-about__description-feature">
					<table>
						<tr>
							<td class="item-about__description-feature-head">ブランド</td>
							<td>〇〇</td>
						</tr>
						<tr>
							<td class="item-about__description-feature-head">概要1</td>
							<td>〇〇</td>
						</tr>
						<tr>
							<td class="item-about__description-feature-head">概要2</td>
							<td>〇〇</td>
						</tr>
						<tr>
							<td class="item-about__description-feature-head">概要3</td>
							<td>〇〇</td>
						</tr>
					</table>
				</div>
				<div class="item-about__description-about">
					<h1>商品について</h1>
				</div>
			</div>
			<div class="item-about__buy">
				<div class="item-about__buy-price">
					<h1><span>$</span>1,000</h1>
				</div>
				<div class="item-about__buy-point">
					<p>ポイント:<span>100pt</span><span>(10%)</span><a>詳細はこちら</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>