{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>マイページ | Utazon.com</title>
    <link rel="stylesheet" href="{% static 'edit-item/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'local.css' %}">
	<link rel="icon" href="{% static 'icon.svg' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#232f3e">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
	<script src="{% static 'local.js' %}"></script>
	<script src="{% static 'edit-item/script.js' %}"></script>
</head>
<body>
<div class="global-header">
	<div class="nav-mobile__top">
		<div class="nav-mobile__top-left">
			<div class="nav-belt__menu">
					<span></span>
					<span></span>
					<span></span>
			</div>
			<div class="nav-mobile__top-logo">
				<a href="/">
					<img src="{% static 'logo.svg' %}">
				</a>
			</div>
		</div>
		<a href="/cart">
	        	<div class="nav-mobile__top-cart">
		        	<div class="nav-mobile__top-cart-ui">
			        	<img src="{% static 'cart.png' %}">
						{% if session.valid %}
			        	<p>{{ info.user_cart }}</p>
						{% else %}
						<p>0</p>
						{% endif %}
		        	</div>
	        	</div>
			</a>
	</div>
    <header>
        <div class="nav-belt">
            <div class="nav-belt__logo">
                <a href="/" class="nav-link">
                    <img src="{% static 'logo.svg' %}">
                </a>
            </div>
            <div class="nav-belt__address">
                <img class="nav-belt__address-map" src="{% static 'pin.svg' %}">
	            <div class="nav-belt__address-dir">
		            <div class="nav-belt__address-name">
			            <p class="nav-belt__address-to">お届け先</p>
		            </div>
		            <div class="nav-belt__address-number">
						{% if session.valid %}
						<h1>1-0001仮</h1>
						{% else %}
						<h1>ログイン</h1>
						{% endif %}
		            </div>
	            </div>
            </div>
            <div class="nav-belt__search">
	            <form id="search">
		            <select class="nav-belt__search-select">
						<option value="all">すべて</option>
						{% for jp, en in categories.items %}
			            <option value="{{ en }}"{% if category == en %} selected{% endif %}>{{ jp }}</option>
						{% endfor %}
		            </select>
	                <input class="nav-belt__search-input" type="text" placeholder="検索 Utazon.com" value="{{ query }}" id="search_query">
		            <label class="nav-belt__search-label">
			            <input class="nav-belt__search-submit" type="submit" value="">
			            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"><path d="M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z"/></svg>
		            </label>
	            </form>
            </div>
			{% if session.valid %}
			<a onclick="logout_confirm()" class="nav-link">
                <div class="nav-belt__account">
				{% if session.valid %}
		        	<p>{{ info.mc_id }}さん</p>
		        	<h1>ログアウト</h1>
				{% else %}
					<p>ゲストさん</p>
		        	<h1>ログイン</h1>
				{% endif %}
	        	</div>
			</a>
			{% else %}
			<a href="/login" class="nav-link">
                <div class="nav-belt__account">
				{% if session.valid %}
		        	<p>{{ info.mc_id }}さん</p>
		        	<h1>ログアウト</h1>
				{% else %}
					<p>ゲストさん</p>
		        	<h1>ログイン</h1>
				{% endif %}
	        	</div>
			</a>
			{% endif %}
			<a href="/history" class="nav-link">
	        	<div class="nav-belt__returns">
		        	<p>返品もこちら</p>
		        	<h1>履歴</h1>
	        	</div>
			</a>
			<a href="/cart" class="nav-link">
	        	<div class="nav-belt__cart">
		        	<div class="nav-belt__cart-ui">
			        	<img src="{% static 'cart.png' %}">
						{% if session.valid %}
			        	<p>{{ info.user_cart }}</p>
						{% else %}
						<p>0</p>
						{% endif %}
		        	</div>
		        	<div class="nav-belt__cart-text">
			        	<h1>カート</h1>
		        	</div>
	        	</div>
			</a>
        </div>
	    <div class="nav-main">
			<div class="nav-main__category">
				<a class="nav-main__point">Utazonポイント:
                    {% if session.valid %}
                    <span>{{ info.point }}</span>
                    {% else %}
                    <span>0</span>
                    {% endif %}
                </a>
				<a class="nav-main__category-child">ヘルプ</a>
				<a class="nav-main__category-child">プライム</a>
				{% for jp, en in categories.items %}
				<a class="nav-main__category-child" href="/category/?name={{ en }}">{{ jp }}</a>
				{% endfor %}
				<a class="nav-main__category-child" href="/history">再度購入</a>
			</div>
	    </div>
		<nav class="nav-mobile">
			<div class="nav-mobile__account">
				{% if session.valid %}
				<p>{{ info.mc_id }}さん</p>
				<a onclick="logout_confirm()">ログアウト</a>
				{% else %}
				<p>ゲストさん</p>
				<a href="login">ログイン</a>
				{% endif %}
			</div>
			<div class="nav-mobile__logo">
                <a href="/" class="nav-link">
                    <img src="{% static 'logo-black.svg' %}">
                </a>
            </div>
			<div class="nav-mobile__address">
				<img class="nav-mobile__address-map" src="{% static 'pin-black.svg' %}">
				<div class="nav-mobile__address-dir">
					<div class="nav-mobile__address-name">
						<p class="nav-mobile__address-to">お届け先</p>
					</div>
					<div class="nav-mobile__address-number">
						{% if session.valid %}
						<h1>1-0001仮</h1>
						{% else %}
						<h1>ログイン</h1>
						{% endif %}
					</div>
				</div>
			</div>
			<a href="/history">
	        	<div class="nav-mobile__returns">
		        	<p>返品もこちら</p>
		        	<h1>注文履歴・閲覧履歴</h1>
	        	</div>
			</a>
			<a href="/cart">
	        	<div class="nav-mobile__cart">
		        	<div class="nav-mobile__cart-ui">
			        	<img src="{% static 'cart-black.png' %}">
						{% if session.valid %}
			        	<p>{{ info.user_cart }}</p>
						{% else %}
						<p>0</p>
						{% endif %}
		        	</div>
		        	<div class="nav-mobile__cart-text">
			        	<h1>カート</h1>
		        	</div>
	        	</div>
			</a>
			<div>
                <a class="nav-mobile__point">Utazonポイント:
                {% if session.valid %}
				<span>{{ info.point }}</span>
                {% else %}
                <span>0</span>
                {% endif %}
                </a>
				<a class="nav-mobile__category-child">ヘルプ</a>
				<a class="nav-mobile__category-child">プライム</a>
			</div>
			<div class="nav-mobile__category">
				<p>カテゴリー</p>
				<div class="nav-mobile__list">
					{% for jp, en in categories.items %}
					<a class="nav-mobile__category-child" href="/category/?name={{ en }}">{{ jp }}</a>
					{% endfor %}
					<a class="nav-mobile__category-child" href="/history">再度購入</a>
				</div>
			</div>
		</nav>
		<div class="nav-mobile__background"></div>
    </header>
</div>
<div class="wrapper">
	<div class="subwrapper">
		<div class="review">
			<div class="review-title">
				<h2>商品を出品する</h2>
			</div>
            <form method="post">
			<div class="review-value">
				<div class="review-value__title">
					<h3>商品名<span class="required" id="title_required">必須項目です</span></h3>
					<input name="name" id="title" type="text">

				</div>
				<div class="review-value__text">
					<h3>価格<span class="required" id="text_required">必須項目です</span></h3>
					<span>{{ money_unit }}</span><input name="price" id="text" type="number" step="0.01" value="0">
				</div>
                <div class="review-value__image" data-img="{{ item.image }}">
                    <h3>画像（5つまで）<span class="required" id="image_required">必須項目です</span></h3>
                    <div class="review-value__image-list">
                        <div class="review-value-1"></div>
                        <div class="review-value-2">
                            <div class='fileAdd' style='display: flex;justify-content: center;align-items: center'>
                                <input type='file' id='fileInput' style='display: none' accept='image/png, image/jpeg, image/webp'>
                                <svg xmlns="http://www.w3.org/2000/svg" height="4em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="review-value__submit" id="submit">
					<a>次へ</a>
                    <span class="required" id="cnxError">エラーが発生しました</span>
				</div>
			</div>
            </form>
		</div>
	</div>
</div>
</body>
</html>