{% load static %}
{% load formatter %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>商品をレビュー | Utazon.com</title>
    <link rel="stylesheet" href="{% static 'review/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'local.css' %}">
	<link rel="icon" href="{% static 'icon.svg' %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#232f3e">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
	<script src="{% static 'local.js' %}"></script>
	<script src="{% static 'review/script.js' %}"></script>
</head>
<body>
<div class="global-header">
	<div class="nav-mobile__top">
		<div class="nav-mobile__top-left">
			<div class="nav-belt__menu">
					<span></span>
					<span></span>
					<span></span>
			</div>
			<div class="nav-mobile__top-logo">
				<a href="/">
					<img src="{% static 'logo.svg' %}">
				</a>
			</div>
		</div>
		<a href="/cart">
	        	<div class="nav-mobile__top-cart">
		        	<div class="nav-mobile__top-cart-ui">
			        	<img src="{% static 'cart.png' %}">
						{% if session.is_valid %}
			        	<p>{{ session.get_user.get_cart_length }}</p>
						{% else %}
						<p>0</p>
						{% endif %}
		        	</div>
	        	</div>
			</a>
	</div>
    <header>
        <div class="nav-belt">
            <div class="nav-belt__logo">
                <a href="/" class="nav-link">
                    <img src="{% static 'logo.svg' %}">
                </a>
            </div>
            {% if session.is_invalid %}
            <a href="https://discord.gg/d9Knvc9JCr" class="nav-link">
            {% endif %}
            <div class="nav-belt__address">
                {% if session.is_valid %}
                <img class="nav-belt__address-map" src="{% static 'pin.svg' %}">
	            <div class="nav-belt__address-dir">
		            <div class="nav-belt__address-name">
			            <p class="nav-belt__address-to">お届け先</p>
		            </div>
		            <div class="nav-belt__address-number">
						<h1>1-0001仮</h1>
		            </div>
	            </div>
                {% else %}
	            <div class="nav-belt__address-dir">
		            <div class="nav-belt__address-name">
			            <p class="nav-belt__address-to">まだ参加してない？</p>
		            </div>
		            <div class="nav-belt__address-number">
						<h1>Discord鯖に参加</h1>
		            </div>
	            </div>
                {% endif %}
            </div>
            {% if session.is_invalid %}
            </a>
            {% endif %}
            <div class="nav-belt__search">
	            <form id="search">
		            <select class="nav-belt__search-select">
						<option value="all">すべて</option>
						{% for en, jp in CATEGORIES.items %}
			            <option value="{{ en }}"{% if category == en %} selected{% endif %}>{{ jp }}</option>
						{% endfor %}
		            </select>
	                <input class="nav-belt__search-input" type="text" placeholder="検索 Utazon.com" value="{{ query }}" id="search_query">
		            <label class="nav-belt__search-label">
			            <input class="nav-belt__search-submit" type="submit" value="">
			            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"><path d="M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z"/></svg>
		            </label>
	            </form>
                <div class="nav-belt__search-background"></div>
            </div>
						{% if session.is_valid %}
			<a href="/mypage" class="nav-link">
                <div class="nav-belt__account">
                    {% with session.get_user.get_mc_id as mcid %}
                    {% if mcid %}
                    <p>{{ session.get_user.get_mc_id }}さん</p>
                    {% endif %}
                    {% endwith %}
		        	<h1>マイページ</h1>
	        	</div>
			</a>
			{% else %}
			<a href="/login" class="nav-link">
                <div class="nav-belt__account">
					<p>ゲストさん</p>
		        	<h1>ログイン</h1>
	        	</div>
			</a>
			{% endif %}
			<a href="/history" class="nav-link">
	        	<div class="nav-belt__returns">
		        	<p>閲覧履歴もこちら<p>
		        	<h1>履歴</h1>
	        	</div>
			</a>
			<a href="/cart" class="nav-link">
	        	<div class="nav-belt__cart">
		        	<div class="nav-belt__cart-ui">
			        	<img src="{% static 'cart.png' %}">
						{% if session.is_valid %}
			        	<p>{{ session.get_user.get_cart_length }}</p>
						{% else %}
						<p>0</p>
						{% endif %}
		        	</div>
		        	<div class="nav-belt__cart-text">
			        	<h1>カート</h1>
		        	</div>
	        	</div>
			</a>
        </div>
	    <div class="nav-main">
			<div class="nav-main__category">
				<a class="nav-main__point">Utazonポイント:
                    {% if session.is_valid %}
                    <span>{{ session.get_user.get_point|digit_grouping }}</span>
                    {% else %}
                    <span>0</span>
                    {% endif %}
                </a>
				<!--<a class="nav-main__category-child">ヘルプ</a>
				<a class="nav-main__category-child">プライム</a>-->
				{% for en, jp in CATEGORIES.items %}
				<a class="nav-main__category-child" href="/category/?name={{ en }}">{{ jp }}</a>
				{% endfor %}
				<a class="nav-main__category-child" href="/history">再度購入</a>
			</div>
	    </div>
		<nav class="nav-mobile">
			<div class="nav-mobile__account">
				{% if session.is_valid %}
				<p>{{ session.get_user.get_mc_id }}さん</p>
				<a href="/mypage/">マイページ</a>
				{% else %}
				<p>ゲストさん</p>
				<a href="login">ログイン</a>
				{% endif %}
			</div>
			<div class="nav-mobile__logo">
                <a href="/" class="nav-link">
                    <img src="{% static 'logo-black.svg' %}">
                </a>
            </div>
			<div class="nav-mobile__address">
				<img class="nav-mobile__address-map" src="{% static 'pin-black.svg' %}">
				<div class="nav-mobile__address-dir">
					<div class="nav-mobile__address-name">
						<p class="nav-mobile__address-to">お届け先</p>
					</div>
					<div class="nav-mobile__address-number">
						{% if session.is_valid %}
						<h1>1-0001仮</h1>
						{% else %}
						<h1>ログイン</h1>
						{% endif %}
					</div>
				</div>
			</div>
			<a href="/history">
	        	<div class="nav-mobile__returns">
		        	<p>閲覧履歴もこちら<p>
		        	<h1>注文履歴・閲覧履歴</h1>
	        	</div>
			</a>
			<a href="/cart">
	        	<div class="nav-mobile__cart">
		        	<div class="nav-mobile__cart-ui">
			        	<img src="{% static 'cart-black.png' %}">
						{% if session.is_valid %}
			        	<p>{{ session.get_user.get_cart_length }}</p>
						{% else %}
						<p>0</p>
						{% endif %}
		        	</div>
		        	<div class="nav-mobile__cart-text">
			        	<h1>カート</h1>
		        	</div>
	        	</div>
			</a>
			<div>
                <a class="nav-mobile__point">Utazonポイント:
                {% if session.is_valid %}
				<span>{{ session.get_user.get_point|digit_grouping }}</span>
                {% else %}
                <span>0</span>
                {% endif %}
                </a>

			</div>
			<div class="nav-mobile__category">
				<p>カテゴリー</p>
				<div class="nav-mobile__list">
					{% for en, jp in CATEGORIES.items %}
					<a class="nav-mobile__category-child" href="/category/?name={{ en }}">{{ jp }}</a>
					{% endfor %}
					<a class="nav-mobile__category-child" href="/history">再度購入</a>
				</div>
			</div>
		</nav>
		<div class="nav-mobile__background"></div>
    </header>
</div>
<div class="wrapper">
	<div class="subwrapper">
		<div class="review">
			<div class="review-title">
				<h2>この商品をレビュー</h2>
				<div class="review-title__item">
					<img src="{{ item.image.0 }}">
					<p>{{ item.name }}</p>
				</div>
			</div>
            {% if not review or review.type != "REVIEW" %}
			<div class="review-value">
				<div class="review-value__star">
					<h3>総合評価</h3>
					<span class="required" id="star_required">必須項目です</span>
					<img id="star_1" data-star="1" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==" {% if review and review.star == 1 %}class="isActive"{% endif %}>
					<img id="star_2" data-star="2" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==" {% if review and review.star == 2 %}class="isActive"{% endif %}>
					<img id="star_3" data-star="3" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==" {% if review and review.star == 3 %}class="isActive"{% endif %}>
					<img id="star_4" data-star="4" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==" {% if review and review.star == 4 %}class="isActive"{% endif %}>
					<img id="star_5" data-star="5" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzgiIGhlaWdodD0iMzUiPjxkZWZzPjxwYXRoIGlkPSJhIiBkPSJNMTkgMGwtNS44NyAxMS41MkwwIDEzLjM3bDkuNSA4Ljk3TDcuMjYgMzUgMTkgMjkuMDIgMzAuNzUgMzVsLTIuMjQtMTIuNjYgOS41LTguOTctMTMuMTMtMS44NXoiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNGRkYiIHhsaW5rOmhyZWY9IiNhIi8+PHBhdGggc3Ryb2tlPSIjQTI2QTAwIiBzdHJva2Utb3BhY2l0eT0iLjc1IiBkPSJNMTkgMS4xbC01LjU0IDEwLjg4TDEuMSAxMy43Mmw4Ljk0IDguNDRMNy45MiAzNC4xIDE5IDI4LjQ2bDExLjA4IDUuNjQtMi4xMS0xMS45NCA4Ljk0LTguNDQtMTIuMzYtMS43NEwxOSAxLjF6Ii8+PC9nPjwvc3ZnPg==" {% if review and review.star == 5 %}class="isActive"{% endif %}>
                    <p>送信済み</p>
				</div>
				<div class="review-value__title">
					<h3>レビュータイトル<span class="required" id="title_required">必須項目です</span></h3>
					<input id="title" type="text" placeholder="最も伝えたいポイントはなんですか？">

				</div>
				<div class="review-value__text">
					<h3>レビューを追加<span class="required" id="text_required">必須項目です</span></h3>
					<textarea id="text" style="resize: vertical;" placeholder="気に入ったこと/気に入らなかったことは何ですか？この製品をどのように使いましたか？"></textarea>
				</div>
				<div class="review-value__confirm">
					<h3>投稿にあたっての注意</h3>
					<p>ふざけてのレビューはおやめください。<br>
					投稿することによってMCIDが公開されます。<br>
					投稿は削除できません。ご了承ください。</p>
				</div>
				<div class="review-value__submit" id="submit">
					<a>投稿</a>
				</div>
			</div>
            {% else %}
            <h3>すでにレビューを投稿しています</h3>
            <p>レビューの編集は<a href="edit/?id={{ item.id }}" style="color: #006cc4;text-decoration: underline">こちら</a>から</p>
            {% endif %}
		</div>
	</div>
</div>
</body>
</html>